.addCart {
    padding: 9rem 0 4rem 0;
}

.detail {
    border: 1px solid rgb(209, 208, 208);
    padding: 0.5rem;
}

.detail h3 {
    font-weight: 600;
    margin-bottom: 0;
}

.detail h2 {
    margin-top: 2rem;
}

.detail table tr {
    font-size: 20px;
    font-weight: 400;
}

.detail table .btns {
    cursor: pointer;
}

.detail table .btns:hover {
    background-color: #E1C343;
}

.addCart .btn {
    background-color: black;
    border: 2px solid#000000;
    color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 1rem;
    padding: 0.4rem 2.2rem;
}

.detail .btn:hover {
    color: #E1C343;
}

.quantities .qicon {
    border: 1px solid grey;
    font-size: 2rem;
    border-radius: 50%;
    color: black;
}

.addCart .detail img {
    width: 100%;
}

/* Shipping section css */
.shipping {
    padding: 1rem;
    background-color: #ECEFF0;
}

.shipping h3 {
    font-weight: 600;
}

.summary .right {
    text-align: right;
    font-weight: 600;
}

.summary {
    padding: 1rem;
    background-color: #ECEFF0;
    font-weight: 400;
    font-size: 20px;
}

.summary h3 {
    font-weight: 600;
}