.newsletter {
    padding: 2rem 0;
}

.newsletter .form-control {
    border: none;
    border-radius: 0;
    height: 40px;
    background-color: #ECEFF0;
    box-shadow: none;
}

.newsletter .subscribe {
    height: 40px;
    background-color: #000000;
    color: #ffffff;
    position: relative;
    font-size: 16px;
    padding: 0 20px 0 25px;
    font-weight: 400;
    border-radius: 10px;
    right: 10%;
    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 20% 100%, 0% 50%);
}

.newsletter .subscribe:hover {
    color: #E1C343;
}